@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Exam Registration Program</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<div class="container">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <h3><a class="nav-link" asp-area="" asp-controller="Courses" asp-action="">Register Courses</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" asp-area="" asp-controller="Students" asp-action="">Register Students</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" asp-area="" asp-controller="Exams" asp-action="">Register Exams</a></h3>
        </li>
    </ul>
</div>
